*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;


}
body{
    background-color: rgb(244, 241, 239);
}
/* start bar  */
.bar{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    /* padding-top: 30px;
    padding-bottom: 30px; */
    align-items: center;

}
.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.link{
    display: flex;
    gap: 38px;
}
li{
    padding: 5% 0;
   
}

.link li:hover{
    background-color: black;
    border-top: 3px solid orangered;
    
}
.dot{
    color: orangered;
    
    /* background-color: brown; */
}

.this{
    font-size: 15px;
    
}
#icon{
    display: none;
}
/* end bar  */
@media screen and (max-width:700px) {
    .link{
display: none;
    }
    #icon{
        display: block;
        /* color: white; */
        font-size: 30px;
        color: orangered;
    }
    
}
/* main sec start  */
#main{
    width: 100%;
    
   
}
.main{

    background-image: url(./assits/images/pexels-photo-1054218.webp);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding: 13%;
    font-size: 22px;
}
.span{
    font-size: 30px;
    font-family: serif;
    color: azure;
}
/* main sec end  */
#main-sec{
width: 80%;
position: relative;
bottom: 100px;

}
.main-main{
    margin-left: 12%;
    /* margin-top: 20px; */
    width: 100%;
    background-color:white;
    line-height: 10px;
    border: 4px solid orangered;
    border-left: none;
    border-right: none;
    padding-bottom: 70px;
    
}
.main-div{
    gap: 16px;
    
    /* text-align: center; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 5%;
    line-height: 25px;
}
@media screen and (max-width:900px) {
    .main-div{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
}

@media screen and (max-width:700px) {
    .main-div{
        display: grid;
        grid-template-columns: 1fr ;
    }
    
}
/* main div end */
.div-works{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    margin: 0px 55px;
    margin-top: 50px;
    

}
.div-works img{
    width: 100%;
}


@media screen and (max-width:900px) {
    .div-works{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .div-works img{
        width: 100%;
    }
    
}
@media screen and (max-width:700px) {
    .div-works{
        display: grid;
        grid-template-columns: 1fr;
    }
    .div-works img{
        width: 100%;
    }
    
}
/* second div end  */
.blog{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    margin: 0 60px;
    padding-top: 26px;
}
.blog-div{
    display: flex;
}
@media screen and (max-width:900px) {
    .blog-div{
        display: block;
    }
    .blog-div img{
        width: 100%;
    }
.blog{
    display: grid;
    grid-template-columns: 1fr;
}    
}
.span-2{
    color: red;
    font-size: 14px;
}
#footer{
    margin-left: 12%;
    /* margin-top: 20px; */
    width: 100%;
    background-color:white;
    line-height: 10px;
    border-left: none;
    border-right: none;
    background-color:rgba(0, 0, 0, 0.871) ;
    padding-top: 35px;
    color: white;
    line-height: 19px;
}
.last-div{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 70px;
}

.end{
    display: flex;
    justify-content: space-between;
    margin: 5px 55px;
    padding-bottom: 20px;
}
.testi{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    line-height: 25px;
}
@media screen and (max-width:900px) {
    .last-div{
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
        padding: 10px;
        padding-top: 20px;
        
    }
    .testi{
        display: grid;
        grid-template-columns: 1fr;
    }
    
}
@media screen and (max-width:700px) {

    .last-div{
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr ;
        padding: 10px;
        padding-top: 20px;
        
    }
}

